// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// Variables
@import 'variables';

// all scss
@import 'sidebar-menu.scss';
@import 'home-banner.scss';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';


body {
    font-family: $font-family-Poppins !important;
    letter-spacing: 0.3px;
    font-size: $font-size !important;
}

.btn {
    border-radius: $border-radius !important;
    margin-right: 10px;
    color: $main-color !important;
    font-size: $font-size !important;

    &.btn-white {
        background: #ffffff !important;
    }

    &.btn-banner {
        padding: 15px 30px !important;
        border: none !important;
        font-weight: 700;
    }
}

// #app {
//     min-width: 1366px;
// }

.header {
    .nav-link.active {
        border-bottom: 2px solid #000;
    }
}
