.home-banner {
    .carousel-caption {
        display: table;
        width: 100%;
        height: 100%;
        max-width: 350px;
        margin: 0 auto;
        left: 12%;
        right: 12%;
    }

    .carousel-caption-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .slogan-text {
        font-size: 35px !important;
        color: #ffffff;
        text-align: left;
        letter-spacing: 0;
        font-weight: 700;
        margin-bottom: 20px;
        line-height: 1.5;
    }

    .carousel-indicators {
        align-items: center;
        margin-bottom: 30px;
        li {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            &:focus {
                outline: none;
            }
        }

        .active {
            width: 20px;
            height: 20px;
        }
    }

    .banner-img {
        max-height: 100%;
        height: 100vh;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }

    // mobile view 
    @media screen and (max-width: 576px) {
        .carousel-caption {
            max-width: 270px !important;
            width: 270px;
        }

        .slogan-text {
            font-size: 25px !important;
        }
    }
}