.product-detail-page {
    .product-detail-navigation {
        padding: 20px 0 15px 0;

        a {
            text-decoration: none;
            color: $main-color;
            font-weight: 700;
            outline: 0;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
    
            .product-navigation-icon {
                position: relative;
                width: 24px;
                height: 30px;
                margin-right: 5px;

                img {
                    position: absolute;
                    left: -7px;
                    top: -3px;
                    width: 38px;
                    height: 38px;
                }
            }

            .product-navigation-text {
                color: $main-color;
                text-decoration: none;
                font-weight: 700;
            }
        }
    }
    .product-detail {
        display: flex;
        flex-wrap: wrap;

        .product-detail-left {
            display: flex;
            flex-direction: column;
            flex: 0 0 37.666667%;
            max-width: 37.666667%;

            // carousel
            .splide {
                &.splide-thumbnail {
                    margin: 0 auto;
                }

                &.splide-preview {
                    margin-bottom: 20px;
                    .splide__slide.is-active {
                        border-color: $grey  !important;
                    }
                }

                .splide__arrow {
                    background-color: #ffffff;
                    opacity: 1 !important;
                    box-shadow: 2px 1px 6px #00000029;
                    &.splide__arrow--prev {
                        left: -7px;
                    }
                    &.splide__arrow--next {
                        right: -7px;
                    }
                    svg {
                        fill: $blue !important
                    }
                }

                .splide__list {
                    .splide__slide {
                        border: 1px solid $grey;
                        border-radius: 12px;
                        &.is-active {
                            border-color: $blue;
                        }
                    }
                }
            }
        }

        .product-detail-right {
            padding-left: 30px;
            padding-right: 0;
            flex: 0 0 62.333333%;
            max-width: 62.333333%;
            .share-product {
                margin-bottom: 20px;
                img {
                  width: 20px;
                  height: 20px;
                  margin-right: 5px;
                }
                span {
                    color: $blue;
                    font-weight: 700;
                }
            }
            .product-title {
                h1 {
                    font-size: 16px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
            }

            .product-description {
                margin-bottom: 25px;
                white-space: pre-line;

                p {
                    font-weight: 700;
                    color: $black;
                    text-transform: capitalize;
                    margin-bottom: 10px;
                }
            }

            .product-action {
                text-transform: capitalize;
            }
        }
    }

    // mobile view 

    @media screen and (max-width: 768px) {
        .product-detail-left {
            margin-bottom: 20px;
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }

        .product-detail-right {
            padding: 0 !important;
            flex: 0 0 100% !important;
            max-width: 100% !important;

            .product-action {
                text-align: center;
            }
        }
    }

    @media screen and (max-width: 402px) {
        .product-action a {
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

