.products-page {

    .row-filter {
        padding: 20px 15px 15px 15px;

        .product-filter {
            flex: 1;
        }
        .product-main-search {
            display: flex;
            flex-direction: row;
            align-items: center;

            .product-search-icon {
                margin-right: 10px;
            }

            .product-search-title {
                font-weight: 700;
                letter-spacing: 0;
            }
        }
    }

    .list-products {
        margin-left: 5px;
        margin-right: 5px;
    }

    .product-item {
        padding: 15px 10px !important;
    }

    .item-image {
        margin-bottom: 10px;
        position: relative;

        .b-skeleton-img {
            border-radius: 12px;
        }
        .item-new {
            position: absolute;
            right: 0;
            padding: 5px 15px;
            border: 1px solid #333333;
            border-radius: 12px;
            margin-top: 10px;
            margin-right: 10px;
            text-transform: capitalize;
            background: #ffffff padding-box;
        }

        img {
            width: 100%;
            height: 203px !important;
            border: 1px solid #707070;
            border-radius: 12px;
        }
    }

    .item-detail {
        .item-title {
            font-weight: 700;
            text-transform: capitalize;
        }

        .item-action {
            display: flex;
            flex-direction: row;
            align-items: center;

            .item-action-icon {
                position: relative;
                width: 24px;
                height: 30px;
                margin-right: 5px;

                img {
                    position: absolute;
                    left: -7px;
                    top: -3px;
                    width: 38px;
                    height: 38px;
                }
            }

            .item-action-link {
                color: $blue;
                text-decoration: underline;
                font-weight: 700;
            }
        }
    }

    .pagination-products {
        text-align: center;

        .pagination-page {
            margin: 0 5px;
            font-weight: 700;
        }

        .pagination-icon {
            cursor: pointer;
            user-select: none;
            &.disabled {
                cursor: none;
                pointer-events: none;
            }
        }
    }
}