.sidebar {
    min-width: 250px;
    max-width: 250px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: relative;
    
    .sidebar-outer {
        // position: initial !important;
        // height: 100% !important;

        .sidebar-menu {
            // position: initial;
            // width: auto; 
            width: 250px !important;
        }
    }

    .sidebar-header {
        padding: 10px 30px !important;
        margin: 40px 0;
    }

    .sidebar-body {
        .navbar-text {
            padding-top: 0;
            padding-bottom: 0;
            margin: 5px 0;
        }
        .nav-link {
            padding: 5px 30px;
            color: $main-color;
            font-size: 12px;
            &.active {
                font-weight: 800;
            }
        }
    }

    .sidebar-footer {
        margin-left: 30px;

        .social-media {
            font-size: 12px;
            margin-bottom: 50px;
            .social-media-icon {
                padding-top: 20px;
                a{
                    padding-top: 20px;
                    margin-right: 30px;
                }
            }
        }

        .copyright {
            display: flex;
            flex-direction: row;
            font-size: 12px;
            margin-bottom: 50px;
        }

        .copyright-right-side {
            display: flex;
            flex-direction: column;
            margin-left: 5px;
        }
    }
}
