.dropzone .dz-preview .dz-error-message {
    top: 150px !important;
}

.dropzone .dz-preview .dz-retry {
    padding-right: 35px;
}

.page-title {
    text-align: center;
}

.box-body #list-sub-category {
    max-height: 200px;
    overflow-y: scroll;
}

.box-body #list-sub-category ul > li {
    list-style-type: decimal;
}